html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif !important;
  font-weight: 400;
  font-display: optional;
  color: #444;
  background-color: #1E90FF !important;
 }
.container-fluid {
    height:inherit;
}

#app-div {
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: white !important;
}

.navbar-brand {
    width: auto;
    padding: 0 0 0 0 !important;
}

#brand {
    height: 50px;
}

#menu {
    color: white !important;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 400;
    float: left;
    width: 100%;
}

h1, h3 {
    text-align: center;
    color: white !important;
    font-size: 24px;
}

p {
    color: white;
    font-size: 24px;
}

.button-div {
    margin-top: 20px;
}

#start {
    height: 50px;
    width: 100%;
    border: 5px solid black;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    background-color: white;
}

#relax {
    width: 100%;
    height: 100%;
    font-size: 26px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
}

.relax-button-div {
    height: 50%;
}

.muted {
    color: lightgrey;
}

#mute {
    height: 50px;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
